<footer id="footer" class="footer">
	<div class="row">
		{% for block in site.footerBlocks %}
        {% assign colWidth = 12 | divided_by: forloop.length %}
		<div class="col-md-{{ colWidth }} col-xs-6">
			<h5>{{ block.title }}</h5>
			<ul>
				{% for linkElement in block.links %}
				<li><a href="{% if linkElement.permalink != null %} {{ linkElement.permalink | prepend: site.baseurl }} {% else %} {{ linkElement.link }} {% endif %}" {% if linkElement.link != null %}target="_blank"{% endif %}>{{ linkElement.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
</footer>
